
doctors_payment_pharma_bias.ipynb
Drug_Spending_2016.csv
manufacturer_summary.csv
Medicare Part D Drug Spending YTD 2017-final.csv
Medicare Part D Drug Spending YTD 2017-final.xlsx
ortho_brand.csv
Physician_Bias_2.ipynb
spending_and_utilization.csv
spending_manufacturer_summary_2016.csv
